[Unit]
Description=DHT Control Timer

[Timer]
OnBootSec=<time_value>
OnUnitActiveSec=<time_value>
Unit=cron-trans.service

[Install]
WantedBy=multi-user.target
